<div class="nav">
    <div class="navHeader">
        <div>
            <a href="/" class="navTitle">
                <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Logo" class="navLogo">
                <p class="navTitleText">Cálculo <br> numérico I</p>
            </a>
        </div>
        <div class="menuCollapse">
            <button onclick="showMenu()" class="menuButton">
                &#x2630; 
            </button>
        </div>
    </div>
    <ul class="navList" id="myDIV">

        <!-- post del tipo matlab -->
        <li class="category {% if page.categories contains 'matlab' %} categoryActive {% endif %}">
            MatLab
        </li>
        {% assign postmatlab = site.categories.matlab | sort: "tag" "%}
        {%- for post in postmatlab -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo rpf -->
        <li class="category {% if page.categories contains 'rpf' %} categoryActive {% endif %}">
            Representación de punto flotante
        </li>
        {% assign postrpf = site.categories.rpf | sort: "tag" "%}
        {%- for post in postrpf -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo senluv -->
        <li class="category {% if page.categories contains 'senluv' %} categoryActive {% endif %}">
            Solución de ecuaciones no lineales de una variable
        </li>
        {% assign postsenluv = site.categories.senluv | sort: "tag" "%}
        {%- for post in postsenluv -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo interpolacion -->
        <li class="category {% if page.categories contains 'interpolacion' %} categoryActive {% endif %}">
            Interpolación
        </li>
        {% assign postinterpolacion = site.categories.interpolacion | sort: "tag" "%"%}
        {%- for post in postinterpolacion -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo in -->
        <li class="category {% if page.categories contains 'in' %} categoryActive {% endif %}">
            Integración Númerica
        </li>
        {% assign postin = site.categories.in | sort: "tag" "%%}
        {%- for post in postin -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo edo -->
        <li class="category {% if page.categories contains 'edo' %} categoryActive {% endif %}">
            Ecuaciones diferenciales ordinarias
        </li>
        {% assign postedo = site.categories.edo | sort: "tag" "%"%}
        {%- for post in postedo -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- post del tipo bibliografia -->
        <li class="category {% if page.categories contains 'bibliografia' %} categoryActive {% endif %}">
            Bibliograía
        </li>
        {% assign postbibliografia = site.categories.bibliografia | sort: "tag" "%"%}
        {%- for post in postbibliografia -%}
        <li class="navListItem">
            <a href="{{ post.url | relative_url }}">
                <button class="navIButtom {% if post.url == page.url %}active{% endif %}">
                    {{ post.title | escape }}
                </button>
            </a>
        </li>
        {%- endfor -%}

        <!-- footerB -->
        <li class="navFooter">
            Realizado por Deisy Rincones <br>
            Universidad de Oriente <br>
            2021
        </li>
    </ul>
    
</div>

    