---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="contentTitle">
      <small class="postCategory">
        {% if page.categories contains "in" %}
          Integración númerica
        {% elsif page.categories contains "matlab" %}
          MatLab
        {% elsif page.categories contains "rpf" %}
          Representación de punto flotante
        {% elsif page.categories contains "senluv" %}
          Solución de ecuaciones no lineales de una variable
        {% elsif page.categories contains "interpolacion" %}
          Interpolación
        {% elsif page.categories contains "edo" %}
          Ecuaciones diferenciales ordinarias
        {% elsif page.categories contains "bibliografia" %}
          Bibliografía
        {% endif %}
      </small>
      <div class="pageHeader">
        <div class="titleHeader titleText">
          <div itemprop="name headline" style="padding-top: 0.4em; padding-bottom: 0.6em;">
            <b>{{ page.title | escape }}</b>
          </div>
        </div>
        <div class="titleDownload">
          <a href="//pdfcrowd.com/url_to_pdf/?" onclick="if(!this.p)href+='&url='+encodeURIComponent(location.href);this.p=1">
            Guardar como PDF
          </a>
        </div>
      </div>
    </div>

    <div class="post-content e-content" itemprop="articleBody">
      <div class="contentText">
        {{ content }}
      </div>
    </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>